.card-img-single {
  height: 200px;
  object-fit: cover;
}
.row__posters {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
}
.row__posters::-webkit-scrollbar {
  display: none;
}
